.cols{
    background-color: white;
}

.viewImg{
    width: 40%;
}

.cardButton{
    width: 70%;
}

.titleForm{
    margin: 0;
}

.commentBox{
    height: 100px;
}

.puntuation{
    align-items: center;
}

.individualComment{
    border: 1px solid grey;
  }

.containerComments{
    max-height: 300px;
    overflow: auto;
}

.comm-punt{
    width: 100px;
    
}