col{
    align-items: center;
}

.container-col{
    width: 90;
    height: 500px;
    margin: 200px auto;
}

.box{
    text-align: center;
    display: inline-block;
    width: 300px;
    height: 100%;
    padding-top: 3em;
    padding-left: 2em;
    
}

.box-price{
    
}
