@import './css/styles.css';/*Sabri: sale de la carpeta scc/styles.css. ¿Manejamos todo con extensión scss o css */

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



